@using PWABlog.ViewModels.Admin.postagem
@model PWABlog.ViewModels.Admin.postagem.PostagemLoadDescricaoViewModel

<div class="card w-50">
  <div class="card-body">
    <h5 class="card-title">Descrição</h5>
    <p class="card-text">@Model.Descricao</p>
    @Html.ActionLink("Voltar","Index","AdminPostagem",null,new{@class="btn btn-secondary"})
  </div>
</div>


