@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/fonte.css">
    <script src="~/js/codigo.js"></script>
    <title>Página de Blog</title>
</head>
<body onload="carregar()">
    <nav></nav>
    <main></main>
    <footer></footer>
</body>
</html>
