@using PWABlog.ViewModels.ControlAcess
<!DOCTYPE html>
<html lang="pt-BR">
<title>@Model.TitlePage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="~/theme/w3schools-blog-theme.css">
<link rel="stylesheet" href="~/theme/core.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="~/vendor/font-awesome-4.7.0/css/font-awesome.css" />

<body class="w3-light-grey">
@RenderBody()
</body>
</html>