@using PWABlog.ViewModels.Admin.Categoria
@model PWABlog.ViewModels.Admin.Categoria.CategoriaCreateViewModel

@using(Html.BeginForm("Create","AdminCategoria",FormMethod.Post))
    {
        <div class="form-group">
            @Html.Label(null,"Nome Categoria",new{@for="nomeCategoria"})
            @Html.EditorFor(model =>model.Nome,new{htmlAttributes = new{@class="form-control",@type="Text",@id="nomeCategoria",@placeholder="Nome da Categoria"}} )
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Gravar">
        </div>
    }

